{
    "ComputerConfiguration" :
    [
        {
            "Key" : "HKEY_LOCAL_MACHINE\\RegisteredApplications",
            "ValueName" : "ExampleKeyName",
            "Value" : "ValueGoesHere",
            "Type" : "String",
            "Action" : "R",
            "Context" : "Computer"
        }
    ]
}