{
    "Name" : "anotherGPO",
    "ComputerConfiguration" :
    {
        "Registry" : [
            {
                "Key" : "HKEY_LOCAL_MACHINE\\RegisteredApplications",
                "ValueName" : "ExampleKeyName",
                "Value" : "ValueGoesHere",
                "Type" : "REG_SZ",
                "Action" : "R",
                "Context" : "Computer"
            }
        ]
    }
}